aiodns==3.2.0
aiohttp[speedups]==3.10.5
fastapi-hypermodel==2.1.0
fastapi[standard]==0.112.0
geojson-pydantic==1.1.0
pydantic==2.8.2
pydantic-settings==2.4.0
pyjwt==2.9.0
python-dotenv==1.0.1
retry==0.9.2
uvicorn==0.30.4
