aiodns==3.2.0
aiohttp-retry==2.8.3
aiohttp[speedups]==3.10.8
cryptography==43.0.1
fastapi[standard]==0.115.0
geojson-pydantic==1.1.1
geopandas==1.0.1
networkx==3.3
pydantic==2.9.2
pydantic-settings==2.5.2
pygraphviz==1.14
pyjwt==2.9.0
pyproj==3.7.0
python-dotenv==1.0.1
retry==0.9.2
shapely==2.0.6
uvicorn==0.31.0
websockets==13.1
